@import url("header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body{
    font-family: "Comfortaa";
    /*background-image: url("../images/kimImgs/wild_flowers.png");*/
    background-repeat: repeat;
    height=100%;
}

#mainContentWrapper{
    position:relative;
    /*background-color: #dbdad7;*/
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    top: 165px;
    height: 235px;
    padding: 25px;
    background-color: #327c7a;
}

h2{
    font-size:48px;
    /*color: #353535;*/
    color: white;

    padding-bottom: 25px;
    text-align: center;
}

mainText{
    text-align: center;

}

p{
    max-width: 60%;
    text-align: justify;
    margin: 0 auto;
    font-size: 18px;
    color: white;
    line-height: 24px;
    min-width: 450px;
}

#resourceWrapper{
    width:100%;

}

#resources{
    width: 60%;
    max-width: 850px;
    height: 350px;
    position: relative;
    top: 250px;
    margin: 0px auto;
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #f45151;
    font-weight: bold;
}

li{
    list-style-type: none;
}


#firstLine{
    /*display: inline-block;*/
    /*margin-left: 150px;*/
    width: 20%;
    min-width: 250px;
    height: 100px;
}

#secondLine{
    /*display: inline-block;*/
    width: 20%;
    min-width: 250px;
    height: 100px;
}

#thirdLine{
    /*display: inline-block;*/
    width: 20%;
    min-width: 250px;
    height: 100px;
}

#fourthLine{
    /*display: inline-block;*/
    width: 20%;
    min-width: 250px;
    height: 100px;
}
#fifthLine{
    /*display: inline-block;*/
    width: 20%;
    min-width: 250px;
    height: 100px;
}
#sixthLine{
    /*display: inline-block;*/
    width: 20%;
    min-width: 250px;
    height: 100px;
}

footer{
    position:relative;
    top: 250px;
    background-color:#327c7a;
    height: 135px;
}
